/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
button,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family:'Source Sans Pro', sans-serif;
  vertical-align: baseline;
}

/* Global styles */
p,div{
  font-size: 16px;
  font-weight: 400;
}
h1{
  font-size: 32px;
  font-weight: 700;
}
h2{
  font-size: 26px;
  font-weight: 600;
}
h3{
  font-size: 22px;
  font-weight: 500;
}



/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*---------------------------------------------*/


.main {
  position: relative;
  width: 100%;
  height: max-content;
  background-color: blue;
}



body {
  font-family: 'Source Sans Pro', sans-serif;
}



/*------------ Group 3 --------------*/
.logo {
  position: relative;
  background-image: url("./images/RaelingenLogo.png");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  /* height: 128px; */
  width: auto;
  height:50px;
  left: 0;
}

.app {
  width: 100%;
}



.overviewPage {
  position: relative;
  padding: 0px 25px;
  /* margin-top: 54px; */
  /*width: 80%;*/
  height: 100vh;
  width: 80vw;
  margin:none;
  /* padding-top: 30px; */
}

.background {
  position: absolute;
  top: 0;
  background-image: url("./images/BackgroundPattern.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  width: 100%;
  right: 0;
  height: 600px;
  z-index: -2;
}

.scrollView {
  padding: 26px 0px 26px 0px;
  width: 100%;
  margin-top: 4px;
  overflow: auto;
  white-space: nowrap;
  cursor: grab;
  margin-bottom: 32px;
}

.cardView {
  
  position: relative;
  display:inline-block;
  margin-right: 16px;
  height: 400px;
  width: 212px;
  background-color: aqua;
  border-radius: 8px;
  background-image: url("./images/waterMill.jpg");
  background-size: cover;
  background-position: center;

  box-shadow: 0px 0px 16px 1px #00000023;
}

.locationView:hover {
  transform: scale(1.01);
  animation: scaler 0.3s forwards;
  cursor: pointer;
}

.fader {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
  border-radius: 0 0 8px 8px;
  height: 200px;
}

.locationDescription {
  width: max-content;
  margin: 128px 16px 16px 16px;
  padding-top: 8px;
}

.locationDescription p {
  display: inline-block;
  margin-right: 16px;
  font-size: 22px;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

.locationIcon {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-image: url("./images/locationIcon.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.gameShortcut {
  position: relative;
  margin: 28px 0px 28px 0px;
  width: 100%;
  height: 130px;
  background-image: linear-gradient(-120deg, rgba(121, 176, 85, 1), rgba(187,215,167,1));
  border-radius: 22px;
  box-shadow: 0px 0px 60px 0px rgba(76, 125, 52, 0.2);
  
}




.inner-carousel {
  display: flex;
}

.carousel {
  cursor: grab;
  overflow: hidden;
}



.gameShortcutDescription {
  padding: 20px;
  width: 100%;
}

.gameShortcutDescription p {
  margin-top: 2px;
  line-height: 1.2;
}

.gameShortcutImage {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  margin: 16px;
  background-image: url("./images/shortcutGames.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.gameCardView {
  position: relative;
  display:inline-block;
  margin-right: 16px;
  height: 350px;
  width: 212px;
  background-color: aqua;
  border-radius: 16px;
  background-image: url("./images/waterMill.jpg");
  background-size: cover;
  background-position: center;

  box-shadow: 0px 0px 16px 1px #00000023;
}

.gameCardDescription {
  position: absolute;
  width: max-content;
  margin: 16px 16px 16px 16px;
  padding-top: 8px;
  color: aliceblue;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  bottom: 0;
}

.gameCardDescription h6 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 8px;
}

.gameCardDescription p {
  margin-top: 8px;
}

.gameCardIllustartion {
  position: absolute;
  background-image: url('./images/questionMark.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 160px;
  height: 180px;
  margin: 0;
  right: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0.7;
}

.starContainer {
  position: absolute;
  background-color: white;
  width: max-content;
  height: 32px;
  border-radius: 16px;
  right: 0;
  margin: 16px;

}

.starContainer p{
  top: 0;
  margin: 0px 8px 0px 8px;
  float: left;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 2;
  font-weight: 500;
  color: #000000;
  opacity: 0.9;

}

.star {
  display: inline-block;
  height: 100%;
  width: 20px;
  background-image: url('./images/goldStar.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0px 8px 0px 0px;
}


@keyframes scaler {
  0% {transform: scale(1);}
  100% {transform: scale(1.01);}
  
}

